{% extends "layout.html.twig" %}

{% block title %}
    Profil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}


{% block javascripts %}
    {# parent() permet de conserver le code existant dans le block #}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

{% endblock %}

{% block content %}
    <div id="maincontent" class="row">
        <div id="membre-header" class="col-10 offset-1">
            <h2>Profil</h2>
        </div>
        <div id="membre-content" class="col-10 offset-1">
            {% for membre in membre  %}
                <img src="{{ '/images/membre/' ~ membre.avatar }}" height="150">
            {% endfor %}

            {{ form(form, {attr:{novalidate: 'novalidate' }}) }}
            {% for message in app.flashes('notice')  %}
                <div class="flash-notice alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <p class="text-center">Vous souhaitez ne plus être inscrit ?<br />Envoyez un mail à : <a href="mailto:envoyerunmail@chris-simo.fr">envoyerunmail@chris-simo.fr</a></p>
        </div>
    </div>
{% endblock %}
