{% extends "layout.html.twig" %}

{% block title %}
    StatY Foot! Toutes les ligues du monde disponible pour vous.
{% endblock %}


{% block content %}
<!--MAIN CONTENT ------------------------------------------------------------------------------->
<main>
    <div id="maincontent" class="row">
        <div id="commentaires" class="col-12">
            <h3>Commentaires</h3>
            <hr>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ render(controller('App\\Controller\\CommentaireController::NewCommentaire', {
                    'request' : app.request
                })) }}
            {% else %}
                <p>Pensez à vous identifier, afin d'écrire un commentaire, <a href="/connexion">connectez-vous ici</a></p>
            {% endif %}

            {% for commentaires in commentaire | sort | reverse %}
                <hr>
                <div id="commentaire" class="row">
                    <div class="col-2">
                        <img src="../images/membre/{{ commentaires.membre }}.jpeg" width="100%" >
                    </div>
                    <div class="col-10">
                        <p>
                            {{ commentaires.contenu }}
                        </p>
                        <p>
                            <span class="infos-commentaire">
                                <i>par <b>{{ commentaires.membre }}</b> le {{ commentaires.getDateCreation() |date("d/m/Y") }} à {{ commentaires.getDateCreation() |date("H:i:s") }}</i>
                            </span>
                        </p>
                    </div>
                </div>
            {% endfor %}
            <hr>
        </div>
    </div>
</main></div><!-- class container-->
{% endblock %}