{% extends "layout.html.twig" %}

{% block title %}
    Détails
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        ul.timeline {
            list-style-type: none;
            position: relative;
        }
        ul.timeline:before {
            content: ' ';
            background: #d4d9df;
            display: inline-block;
            position: absolute;
            left: 29px;
            width: 2px;
            height: 100%;
            z-index: 400;
        }
        ul.timeline > li {
            margin: 20px 0;
            padding-left: 20px;
        }
        ul.timeline > li:before {
            content: ' ';
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid #22c0e8;
            left: 20px;
            width: 20px;
            height: 20px;
            z-index: 400;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for fixture in fixtures  %}
                <div class="jumbotron">
                    <h7 style="text-align: center">{{ fixture.round }}</h7>
                    <h2 style="text-align: center">{{ fixture.homeTeam }} - {{ fixture.awayTeam }}</h2>
                    <div class="row">
                        <div class="col-md-4" style="border: 1px solid #e1e1e1; text-align: center; width: 70px;">
                            <img src="https://www.api-football.com/public/teams/85.png" height="45" width="45">
                            <p>{{ fixture.homeTeam }}</p>
                        </div>
                        <h3 class="col-md-4" style="text-align: center;">{{ fixture.goalsHomeTeam }} - {{ fixture.goalsAwayTeam }}</h3>
                        <div class="col-md-4" style="border: 1px solid #e1e1e1; text-align: center; width: 70px;">
                            <img src="https://www.api-football.com/public/teams/529.svg" height="45" width="45">
                            <p>{{ fixture.awayTeam }}</p>
                        </div>
                    </div>
                    <div class="row table-game-info">
                        <table class="table-custom table">
                            <tbody>
                            <tr>
                                <td class="table-game-info-number">10(9)</td>
                                <td class="table-game-info-category">Shots (on target)</td>
                                <td class="table-game-info-number">10(9)</td>
                            </tr>
                            <tr>
                                <td class="table-game-info-number">4</td>
                                <td class="table-game-info-category">Corner kicks</td>
                                <td class="table-game-info-number">4</td>
                            </tr>
                            <tr>
                                <td class="table-game-info-number">1</td>
                                <td class="table-game-info-category">Saves</td>
                                <td class="table-game-info-number">1</td>
                            </tr>
                            <tr>
                                <td class="table-game-info-number">2</td>
                                <td class="table-game-info-category">Yellow cards</td>
                                <td class="table-game-info-number">0</td>
                            </tr>
                            <tr>
                                <td class="table-game-info-number">1</td>
                                <td class="table-game-info-category">Red cards</td>
                                <td class="table-game-info-number">0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- FIN JUMBOTRON -->
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Les faits du Match</h4>
                        <ul class="timeline">
                            {% for event in events %}
                            <li>
                                <p>{{ event.type~ ' pour ' ~event.teamName~ ' - ' ~event.elapsed~ ' min' }}</p>
                                <p>{{ event.detail~ ' pour ' ~event.player }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
