{% extends "layout.html.twig" %}

{% block title %}
    Détails de match
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for fixture in fixtures  %}
                <div class="jumbotron">
                    <h7 style="text-align: center">{{ fixture.round }}</h7>
                    <h2 style="text-align: center">{{ fixture.homeTeam }} - {{ fixture.awayTeam }}</h2>
                    <div class="row">
                        <div class="col-md-4" style="border: 1px solid #e1e1e1; text-align: center; width: 70px;">
                            <img src="https://www.api-football.com/public/teams/85.png" height="45" width="45">
                            <p>{{ fixture.homeTeam }}</p>
                        </div>
                        <h3 class="col-md-4" style="text-align: center;">{{ fixture.goalsHomeTeam }} - {{ fixture.goalsAwayTeam }}</h3>
                        <div class="col-md-4" style="border: 1px solid #e1e1e1; text-align: center; width: 70px;">
                            <img src="https://www.api-football.com/public/teams/529.svg" height="45" width="45">
                            <p>{{ fixture.awayTeam }}</p>
                        </div>
                    </div>
                    <div class="row table-game-info">
                        <table class="table-custom table">
                            <tbody>
                            <tr>
                                <td class="text-right table-game-info-number">10(9)</td>
                                <td class="text-center table-game-info-category">Tirs Cadrés</td>
                                <td class="text-left table-game-info-number">10(9)</td>
                            </tr>
                            <tr>
                                <td class="text-right table-game-info-number">4</td>
                                <td class="text-center table-game-info-category">Corners</td>
                                <td class="text-left table-game-info-number">4</td>
                            </tr>
                            <tr>
                                <td class="text-right table-game-info-number">1</td>
                                <td class="text-center table-game-info-category">Arrêts</td>
                                <td class="text-left table-game-info-number">1</td>
                            </tr>
                            <tr>
                                <td class="text-right table-game-info-number">2</td>
                                <td class="text-center table-game-info-category">Cartons Jaunes</td>
                                <td class="text-left table-game-info-number">0</td>
                            </tr>
                            <tr>
                                <td class="text-right table-game-info-number">1</td>
                                <td class="text-center table-game-info-category">Carton Rouges</td>
                                <td class="text-left table-game-info-number">0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- FIN JUMBOTRON -->
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Table Roster-->
                        <div class="table-custom-responsive">
                            <table class="table-custom table-roster">
                                <thead>
                                <tr>
                                    <th colspan="3">Atletico</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>NBR</td>
                                    <td>Player name</td>
                                    <td>Position</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="commentaires" class="col-12">
                        <h3>Commentaires</h3>
                        <hr>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ render(controller('App\\Controller\\CommentaireController::NewCommentaire')) }}


                        {% else %}
                            <p>Pensez à vous identifier, afin d'écrire un commentaire, <a href="/connexion">connectez-vous ici</a></p>
                        {% endif %}

                        {# {% for commentaires in commentaire  %} #}
                        <hr>
                        <div id="commentaire" class="commentaire row">
                            <div class="col-1">
                                <img src="../images/membre/brikema.jpeg" width="100%" >
                            </div>
                            <div class="col-11">
                                <p>
                                    Contenu du commentaire
                                    <br>
                                    <span class="infos-commentaire">
                                        <i>par <b>pseudo</b> le 00/00/0000 à 00:00</i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        {# {% endfor %} #}

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Les faits du Match</h4>
                        <ul class="timeline">
                            {% for event in events %}
                            <li>
                                <p>{{ event.type~ ' pour ' ~event.teamName~ ' - ' ~event.elapsed~ ' min' }}</p>
                                <p>{{ event.detail~ ' pour ' ~event.player }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="ajax-match-classement" class="classement">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    {% for name in fixtures %}
                                    <h3 class="panel-title">Classement {{ name.round~ ' e' }}</h3>
                                    {% endfor %}
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped tableau_classement" id="tableau_classement_lite">
                                        <tbody>
                                        {% for standing in standings %}
                                        <tr>
                                            <th scope="row"><span data-toggle="tooltip" data-placement="right" title="Ligue&nbsp;des&nbsp;Champions" style="width:100%; height:100%; display:block;">{{ standing.rank }}</span></th>
                                            <td class="equipe"><div>{{ standing.teamName }}</div></td>
                                            <td><strong>{{ standing.points }}</strong></td>
                                            <td>{{ standing.matchsPlayed }}</td>
                                            <td>{{ standing.goalsFor }}</td>
                                            <td>{{ standing.goalsDiff }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                        <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Equipe</th>
                                            <th>Pts</th>
                                            <th>J</th>
                                            <th>BP</th>
                                            <th>Dif</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
