{% extends "layout.html.twig" %}

{% block title %}
    Détails de match
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% for fixture in fixtures  %}
                    <div class="jumbotron">
                        <span class="text-left">{{ fixture.round }}</span>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-lg-5 col-6 text-left">
                                <a class="text-left" href="/team/{{ fixture.homeTeam_id }}">
                                    <h4>{{ fixture.homeTeam }}</h4>
                                    <img src="https://www.api-football.com/public/teams/85.png" height="65px">
                                </a>
                            </div>
                            <div class="col-2 text-center d-none d-lg-block"><h6> Vs </h6></div>
                            <div class="col-lg-5 col-6 text-right">
                                <a class="text-right" href="/team/{{ fixture.awayTeam_id }}">
                                    <h4>{{ fixture.awayTeam }}</h4>
                                    <img src="https://www.api-football.com/public/teams/446.png" height="65px">
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <h3>{{ fixture.goalsHomeTeam }} - {{ fixture.goalsAwayTeam }}</h3>
                            </div>
                        </div>

                        <div class="row table-game-info">
                            <table data-placement="right" class="table-custom table">
                                <tbody>
                                <tr>
                                    <td class="text-right table-game-info-number">7(0)</td>
                                    <td class="text-center table-game-info-category">Tirs Cadrés</td>
                                    <td class="text-left table-game-info-number">10(1)</td>
                                </tr>
                                <tr>
                                    <td class="text-right table-game-info-number">9</td>
                                    <td class="text-center table-game-info-category">Corners</td>
                                    <td class="text-left table-game-info-number">3</td>
                                </tr>
                                <tr>
                                    <td class="text-right table-game-info-number">1</td>
                                    <td class="text-center table-game-info-category">Arrêts</td>
                                    <td class="text-left table-game-info-number">5</td>
                                </tr>
                                <tr>
                                    <td class="text-right table-game-info-number">2</td>
                                    <td class="text-center table-game-info-category">Cartons Jaunes</td>
                                    <td class="text-left table-game-info-number">1</td>
                                </tr>
                                <tr>
                                    <td class="text-right table-game-info-number">1</td>
                                    <td class="text-center table-game-info-category">Carton Rouges</td>
                                    <td class="text-left table-game-info-number">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- FIN JUMBOTRON -->
                {% endfor %}

            </div>
            <div class="col-lg-4">
                <div class="row" id="sidebarinfo">
                    <div id="contentsidebar" class="col-md-12">
                        <li id="titlesidebar" class="list-group-item"><h4>Les faits du Match</h4></li>
                        <ul id="bgcolor" class="timeline">
                            {% for event in events %}
                                <li>
                                    {{ event.elapsed~ 'ème minute ' ~event.detail~ ' pour ' ~event.player~ ' - ' ~event.teamName }}
                                </li>
                            {% endfor %}
                        </ul>

                        <li id="finmatch"><h6>Fin du match</h6></li>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
