{% extends "layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <!--MAIN CONTENT ------------------------------------------------------------------------------->
    <main>
    <div id="maincontent" class="row">
        <div id="maintcontentleft" class="col-lg-8 row">
    <div class="container">
    <main>
        <div id="maincontent" class="row">
            <div id="maintcontentleft" class="col-md-8">
                {% for leagues in fixtures %}
                <div id="matchdirect" class="row">
                    <div id="contentmatchdirect" class="col-12">
                        <ul class="list-group">
                            <li id="titlematchdirect" class="list-group-item">{{ leagues.round }}</li>
                            {% for match in getMatch(leagues) %}
                                {{ match.homeTeam }}
                            {% endfor %}
                            {#<a class="list-group-item" id="linkrow" href="">
                                <div id="lignematchdirect" class="row">
                                    <div  class="col-1 text-left d-none d-md-block">16:00
                                    </div>
                                    <div  class="col-md-4 col-5 text-right">
                                        <span>{{ getMatch(leagues.fixture_id)  }}</span>
                                    </div>
                                    <div  class="col-2 text-center justify-content-center">
                                        <img id="logomatchteam" alt="logoequipe" src="logo.png"height="25px">
                                        3-0
                                        <img id="logomatchteam" alt="logoequipe" src="logo.png"height="25px">
                                    </div>
                                    <div  class="col-md-4 col-5 text-left">
                                        <span>{{ match.awayTeam }}</span>
                                    </div>
                                    <div  class="col-1 text-right d-none d-md-block">Follow
                                    </div>
                                </div><!-- /id ligne -->
                            </a>#}

                        </ul>
                        <br>
                    </div><!-- contentmatchdirect ----->

                </div><!--/ id matchdirect row-->
                {% endfor %}
        {% include 'components/_sidebar.html.twig' %}

    </div><!-- /MAINCONTENT row-->
    </div><!-- /CONTAINER-->
    </main>
{% endblock %}