{% extends "layout.html.twig" %}

{% block title %}
    {% for league in league %}Tout sur la {{ league.name }} sur StatY Foot !{% endfor %}
{% endblock %}

{% block content %}
    <div class="jumbotron justify-content-center">
        {% for league in league %}
            <h4>{{ league.name }}</h4>
            <br>
            <img height="200px" src="{{ league.logo }}" alt="{{ league.name }}logo">
            <br>
            <br>
            <span>{{ league.country }}</span><br>
            {% for teams in teams %}{{ dump(teams.logo) }}{% endfor %}

            <hr class="my-4">
            <p>La {{ league.name }} est une ligue de football de {{ league.country }}. Il s'y passe des matchs vraiment chouette à regarder. Il y a des joueurs très fort dans cette compétition. Les supporters sont hyper sympas.</p>
            <br><p class="lead text-center">
            Saison {{ league.season }}
        </p>
        {% endfor %}
        <div class="row">
            <div class="col-md-6">
                <div id="ajax-match-classement" class="classement">

                    <div class="panel panel-info">
                        <div class="panel-heading">

                        </div>
                        <div class="panel-body">
                            <table class="table table-striped tableau_classement" id="tableau_classement_lite">
                                <tbody>
                                {% for standing in logo | sortbyfield('rank') %}
                                    <tr>
                                        <th scope="row"><span data-toggle="tooltip" data-placement="center" title="Ligue&nbsp;des&nbsp;Champions">{{ standing.rank }}</span></th>
                                        <td class="equipe">
                                            <a href="/team/{{ standing.team_id }}">{{ standing.teamName }}</a>
                                        </td>

                                        <td class="d-lg-block d-none">
                                            {% if standing.logo is not empty %}
                                            <img alt="{{ standing.name }}logo" height="30px" src="{{ standing.logo }}">
                                                {% else %}
                                                    <img src="{{ asset('/images/league/mohamed.gif') }}" alt="#" height="35px">
                                            {% endif %}
                                        </td>

                                        <td><strong>{{ standing.points }}</strong></td>
                                        <td>{{ standing.matchsPlayed }}</td>
                                        <td>{{ standing.goalsFor }}</td>
                                        <td class="d-lg-block d-none">{{ standing.goalsDiff }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Équipe</th>
                                    <th class="d-lg-block d-none"></th>
                                    <th>Points</th>
                                    <th>Jour</th>
                                    <th>Buts</th>
                                    <th class="d-lg-block d-none">Différence de but</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div id="maincontentleft" class="col-md-6">
                <div id="matchdirect" class="row">
                    <div id="contentmatchdirect" class="col-12">
                        <ul class="list-group">
                            <li id="" class="list-group-item"  data-scroll>{% for league in league %}Les derniers matchs de la {{ league.name }} {% endfor %}</li>
                            {% for daymatch in fixtures|slice(0, 20) %}
                                <a class="list-group-item" id="linkrow" href="/details-match/{{ daymatch.fixture_id }}">
                                    <div id="lignematchdirect" class="row">
                                        <div  class="col-4 text-right">
                                            <span>{{ daymatch.homeTeam }}</span>
                                        </div>

                                        <div  class="col-4 text-center justify-content-center">
                                            {{ daymatch.goalsHomeTeam }} - {{ daymatch.goalsAwayTeam }}
                                        </div>

                                        <div  class="col-4 text-left">
                                            <span>{{ daymatch.awayTeam }}</span>
                                        </div>
                                    </div><!-- /id ligne -->
                                </a>
                            {% endfor %}
                        </ul>
                    </div><!--/id contentmatchdirect + class col-12 ----->
                </div><!--/id matchdirect + class row-->
            </div><!--/id maintcontentleft + class col-lg-8-->
        </div><!--/row-->



</div>
    </div>
{% endblock %}
