{% extends "layout.html.twig" %}

{% block title %}
    {% for teams in teams %}{{ teams.name }} sur StatY Foot{% endfor %}
{% endblock %}

{% block content %}
    <div class="jumbotron justify-content-center">
        {% for teams in teams %}
            <h4>{{ teams.name }}</h4>
            <br>
            {% if teams.logo is not empty %}
            <img alt="{{ teams.name }} logo" height="200px" src="{{ teams.logo }}">
            {% else %}
                <img src="{{ asset('/images/league/mohamed.gif') }}" alt="#" height="200px">
            {% endif %}
            <br>
            <hr class="my-4">

            <br><p class="lead text-center">{{ teams.name }} est un grand club de foot avec une histoire particulièrement intéressante.</p>
        {% endfor %}
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                <li id="" class="list-group-item"  data-scroll>{% for teams in teams %}Les derniers matchs de {{ teams.name }} {% endfor %}</li>
        {% for matchs in match | slice(0,20) %}
            <a class="list-group-item" id="linkrow" href="/details-match/{{ matchs.fixture_id }}">
                <div id="lignematchdirect" class="row">
                    <div  class="col-4 text-right">
                        <span>{{ matchs.homeTeam }}</span>
                    </div>

                    <div  class="col-4 text-center justify-content-center">
                        {{ matchs.goalsHomeTeam }} - {{ matchs.goalsAwayTeam }}
                    </div>

                    <div  class="col-4 text-left">
                        <span>{{ matchs.awayTeam }}</span>
                    </div>
                </div><!-- /id ligne -->
            </a>
        {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {% for team in teams %}
                            <th colspan="3" class="text-center">{{ team.name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Numéro</th>
                        <th>Joueur</th>
                    </tr>
                    {% for player in players %}
                        <tr>
                            <td>{{ player.number }}</td>
                            <td>{{ player.player }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
