<div id="maincontentright" class="col-lg-4">
    <div id="sidebarinfo" class="row">
        <div id="contentsidebar" class="col-12">
            <!-- Infos -->
            <ul class="list-group">
                <li id="titlesidebar" class="list-group-item"><i class="fas fa-info-circle"></i> Infos</li>
                <li id="footersidebar" class="list-group-item">
                    <p class="text-strong">
                        Vous consultez actuellement le site StatY Foot.
                    </p>
                    <p class="text-justify">
                        StatY Foot est votre nouvelle référence pour suivre les scores de vos équipes favorites en direct.
                    </p>
                    <p class="text-justify">
                        Consultez les résultats de tout les <a href="/category/todaymatch" class="text-strong">matchs</a> de toutes les <a href="/category/leagues" class="text-strong">ligues</a> grâce à notre livescore.
                    </p>
                </li><!-- /dernière ligne-->
            </ul>
            <!-- Match -->
            <ul class="list-group">
                <li id="titlesidebar" class="list-group-item">Matchs</li>
                {# {% for daymatch in viewtodaymatch %}
                <li class="list-group-item">

                    <div class="text-center justify-content-center match-side">
                        {% for team in teamcategory %}
                        <p>
                            <a href="/details-match/{{ daymatch.fixture_id }}">
                                {{ HomeTeam.name  }} - {{ AwayTeam.name }}
                            </a>
                        </p>
                        {% endfor %}
                    </div>
                </li><!-- /ligne-->
                {% endfor %} #}
                <li id="footersidebar" class="list-group-item">
                    <a href="/category/todaymatch">
                        Voir tous les matchs
                    </a>
                </li><!-- /dernière ligne-->
            </ul>
                <!-- leagues -->
            <ul class="list-group">
                <li id="titlesidebar" class="list-group-item">Ligues</li>
                {#{% for league in leaguecategory | sortbyfield('country') %}
                    <li class="list-group-item">
                        <div class="text-center justify-content-center league-side">
                            <p>
                                <a href="/league/{{ league.fixture_id }}">
                                    <img alt="{{ league.name }} logo" src="{{  league.logo }}" height="20px" >{{ league.name }}
                                </a>
                            </p>
                        </div>
                    </li><!-- ligne-->
                    {% endfor %}#}
                <li id="footersidebar" class="list-group-item">
                    <a href="/category/leagues">
                        Voir toutes les ligues
                    </a>
                </li><!-- /dernière ligne-->
            </ul>



</div><!--/id contentsidebar + class col-12 -->
</div><!-- /id sidebarinfo + class row-->
</div><!-- sidebar col-4 ---->